<div class="container-fluid bg-light">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{user.name}} Dashboard</h1>   
    </div>    
  </div>
  <div class="row">
    <div class="col-lg-12">
      Your API key is
    </div>
  </div>
</div>


